---
import ServiceDetails from "../../components/ServiceDetails.astro";
import ServiceText from "../../components/ServiceText.astro";
import Layout from "../../layouts/Layout.astro";
const desatascos = await Astro.glob('../../data/desatascos/*.md')
const [frontmatter] = desatascos
const {frontmatter: data} = frontmatter
const {title, description, slug,loren} = data




function convertUrlsToLinks(text) {
  const urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/ig;
  return text.replace(urlRegex, function(url) {
    return `<a href="${url}" target="_blank" rel="noopener noreferrer">${url}</a>`;
  });
}

const processedText = convertUrlsToLinks(loren);
---


<Layout title={title} descripcion={description} >
<ServiceText title={title} description={description} slug={slug} loren={processedText} />
<ServiceDetails />
</Layout>




